.form{
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: center;


}
.heading{
    font-weight: bolder;
    text-align:  center;
}
.btn{
    background-image: linear-gradient(orange, rgb(219, 46, 75));
    width: 400px;
    margin-left: 100px;
    border-radius: 15px;
    box-shadow: gray 5px 5px 5px;
    
}
.form-control{
    width: 600px;
    box-shadow: lightgray 2px 2px;
}
body {
    background: #fafbfb;
  }
  
  
  /* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .cform{
   margin-left: 50%;

  }
  .cform:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
  }
  .form-control{
    display: flex;
    justify-content: center;
   margin-left: 40%;
  }
  .form-label{
    margin-left: 40%;

  }
  .form-control:hover{
   border-radius: 15px;
    box-shadow: 5px 5px  gray;
  }
  .btn{
    margin-left: 100%;
  }
  .btn:hover{
    border-radius:100px;
    box-shadow: 5px 5px  rgb(196, 243, 126);
  }